body {
    background: #f1f4f7;
    padding-top: 50px;
    overflow-x:hidden;
}

p {
    color: #777;
}

a,
a:hover,
a:focus {
    color: #30a5ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5f6468;
}

h1 {
    font-weight: 300;
    font-size: 40px;
}

h2 {
    font-weight: 300;
    margin-bottom: 20px;
}

h3,
h4 {
    font-weight: 300;
}

.navbar {
    margin-top: -50px;
}

.navbar-header .navbar-brand {
    color: #E8E8E8;;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 30px;
}

.navbar-header .user-menu {
    padding-bottom: 30px;
}

.row {
    display:flex;
}

.dropdown:hover .sub-menu {
    display:block;
}

.sub-menu {
    display: none; 
    padding-top: 12px;
    height: 90px;
    position: absolute;
    background-color: #313a42;
    left: 0;
    z-index: 1;
    width: 130px;
    margin-top: 8px;
    line-height: 32px;
    margin-left: -25px;
}

.sub-menu li {
    margin-left: -32px;
    padding-right: -20px;
    text-align: center;
}

.sub-menu li:hover {
    opacity: 0.7;
}

.widget-left {
    height: 80px;
    padding-top: 15px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.widget-left i {
    font-size: 38px;
    padding-top: 5px;
}

.widget-right {
    text-align: center;
    line-height: 1.6em;
    margin: 0px;
    padding: 20px;
    height: 80px;
    color: #999;
    font-weight: 300;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media (max-width: 768px) {
    .widget-right {
        width: 100%;
        margin: 0;
        text-align: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

@media (max-width: 768px) {
    .widget-left {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.widget-right .text-muted {
    color: #9fadbb;
}

.widget-right .large {
    color: #5f6468;
}

.panel-blue .widget-left {
    background: #30a5ff;
    color: #fff;
}

.panel-teal .widget-left {
    background: #1ebfae;
    color: #fff;
}

.panel-orange .widget-left {
    background: #ffb53e;
    color: #fff;
}

.panel-red .widget-left {
    background: #f9243f;
    color: #fff;
}

.panel-widget {
    background: #fff;
}


/*Jumbotron*/

.jumbotron {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #5f6468;
}


/*Tabs*/

.panel .tabs {
    margin: 0;
    padding: 0;
}

.nav-tabs {
    background: #e9ecf2;
    border: 0;
}

.nav-tabs li a:hover {
    background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
    border: 0;
    padding: 15px 20px;
}

.nav-pills {
    padding: 15px;
    padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
    border: 0;
    padding: 7px 15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
    background: #30a5ff;
}

.tab-content {
    padding: 15px;
}

.page-header {
    margin-left: 230px;
    margin-top: 25px;
    margin-bottom: 20px;
}


/*Navbar*/

.navbar {
    border: 0;
}

.navbar input {
    border: 0;
    background: #444;
    color: #fff;
}

.navbar input:focus {
    color: #fff;
    background: #555;
    border: 1px solid #30a5ff;
    outline: 0;
    box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-inverse {
    background-color: #313a42;
    height: 50px;
    position: fixed;
    width: 100%;
}

.user-menu {
    display: flex;
    margin-top: 14px;
    margin-right: 10px;
    float: right;
    list-style: none;
    padding: 0;
}

.user-menu li {
    padding-right: 20px;
    margin-left: -10px;
    list-style: none;
}

.user-menu li a {
    font-size: 14px;
}

.user-menu li a:hover {
    opacity: 0.7;
}

.user-menu a {
    color: #E8E8E8;
    text-decoration: none;
}

.user-menu a:hover,
.user-menu a:focus {
    text-decoration: none;
}


/* Sidebar */

.sidebar {
    display: block;
    padding: 0;
    display: none;
}

#sidebar-collapse {
    background-color: #313a42;
    position: fixed;
}

#sidebar-collapse ul {
    margin-left: -32px;
    border-top: 2px groove #333333;
}

#sidebar-collapse ul li {
    list-style: none;
    padding-top: 20px;
    padding-left: 40px;
    border-bottom: 2px groove #333333;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
}

#sidebar-collapse ul li:hover {
    opacity: 0.7;
}

#sidebar-collapse ul li a {
    text-decoration: none;
}

.sidebar form {
    padding: 20px 15px 5px 15px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #fff;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
    }
    .navbar-header {
        width: 100%;
    }
}

.sidebar ul.nav a:hover,
.sidebar ul.nav li.parent ul li a:hover {
    text-decoration: none;
    background-color: #e9ecf2;
}

#sidebar-collapse ul li a {
    color: #E8E8E8;
}

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
    list-style: none;
    list-style-type: none;
}

.sidebar ul.nav ul.children {
    width: auto;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
    height: 40px;
    background: #f9f9f9;
    color: #30a5ff!important;
}

.sidebar ul.nav li.current a {
    background-color: #30a5ff;
    color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
    border: none;
    display: block;
    line-height: 40px;
}

.sidebar span.glyphicon {
    margin-right: 10px;
}

.sidebar ul.nav li.divider {
    border-bottom: 1px solid #eee;
    margin: 20px 0;
}

.sidebar .attribution {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #eee;
    font-size: 12px;
}


/*Breadcrumbs*/

.breadcrumb {
    border-radius: 0;
    padding: 10px 15px;
    background: #e9ecf2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin: 0;
}


/*Charts*/

.main-chart {
    background: #fff;
}

.easypiechart-panel {
    text-align: center;
    padding: 1px 0;
    margin-bottom: 20px;
}

.placeholder h2 {
    margin-bottom: 0px;
}

.donut {
    width: 100%;
}

.easypiechart {
    position: relative;
    text-align: center;
    width: 120px;
    height: 120px;
    margin: 20px auto 10px auto;
}

.easypiechart .percent {
    display: block;
    position: absolute;
    font-size: 26px;
    top: 38px;
    width: 120px;
}

#easypiechart-blue .percent {
    color: #30a5ff;
}

#easypiechart-teal .percent {
    color: #1ebfae;
}

#easypiechart-orange .percent {
    color: #ffb53e;
}

#easypiechart-red .percent {
    color: #ef4040;
}

.panel-heading .glyphicon {
    margin-right: 10px;
}


/*Todo List Widget*/

.todo-list-item .glyphicon {
    margin-right: 5px;
    color: #9fadbb;
}

.todo-list-item .glyphicon:hover {
    margin-right: 5px;
    color: #1b3548;
}

.todo-list {
    padding: 0;
    margin: -15px;
    background: #fff;
    color: #5f6468;
}

#checkbox {
    margin: 0;
}

.todo-list .checkbox {
    display: inline-block;
    margin: 0px;
}

.panel-body input[type=checkbox]:checked+label {
    text-decoration: line-through;
    color: #777;
}

.todo-list-item {
    list-style: none;
    line-height: 0.9;
    padding: 14px 15px 8px 15px;
}

.todo-list-item:hover,
a.todo-list-item:focus {
    text-decoration: none;
    background-color: #f6f6f6;
}

.todo-list-item .trash .glyph:hover {
    color: #ef4040;
}